<div class="menu">
<!--    <img src="/assets/images/eats.png">-->
    <div class="menu-groups-wrapper">
        <div class="menu-groups fixed-top w-100">
            <div class="nav-scroller p-1">
                <nav class="nav-scroller-items">
                    <button class="nav-scroller-item btn"
                            id="a-{{group.id}}"
                            [ngClass]="{'btn-secondary': groupId === group.id}"
                            (click)="scrollToPageMenu(group.id)"
                            *ngFor="let group of menu">{{group.name}}</button>
                </nav>
            </div>
        </div>
    </div>

    <div class="fixed-bottom w-100" *ngIf="totalPrice">
        <a routerLink="/cart" class="btn btn-success w-100">View order <b>{{totalPrice}} ₽</b></a>
    </div>

    <div class="menu-group-wrapper container pb-3" (scroll)="onScroll($event)">

        <div class="menu-group" *ngFor="let group of menu" id="b-{{group.id}}">
            <h1 class="mt-4 mb-2 text-uppercase fw-bold" >{{group.name}}</h1>
            <div class="menu-grid">

                <div class="menu-item p-1 fs-6" *ngFor="let item of group.products">
                    <img class="menu-item-img" [src]="item.photoLinks">
                    <div class="menu-item-title mt-2 mb-3">{{item.name}}</div>
                    <div class="menu-item-action">
                        <div *ngIf="!item.amount">
                            <button type="button" class="btn btn-warning w-100 text-uppercase fw-bold"
                                    (click)="addToCart(item)">
                                {{item.price}} ₽
                            </button>
                        </div>
                        <div *ngIf="item.amount">
                            <button type="button" class="btn btn-warning fw-bold float-start"
                                    (click)="removeFromCart(item)">−</button>
                            <span class="d-inline-block pt-1 fs-5">{{item.amount}}</span>
                            <button type="button" class="btn btn-warning fw-bold float-end"
                                    (click)="addToCart(item)">+</button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

