.app-mainButton {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2147483642;
}

.app-mainButton > button {
  text-align: center;
  width: 100%;
  font-weight: bold;
  border-radius: 0;
  padding: 12px 0 12px;
  --bs-progress-height: 1rem;
}

.app-mainButton-preloader {
  position: absolute;
  width: 50px;
  top: 0;
  right: 0;
}
